body {
    background-color: black;
    text-align: center;
    font-family: "Verdana", sans-serif;
}
 h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
a[href="#"] {
    color: aquamarine;
    font-size: 16px;
}
footer {
    text-align: right;
    font-size: 21px;
    font-weight: bold;
}
.gray{
    color: gray;
}
article header h2 {
    font-family: verdana;
    font-size: 21px;
    
}
article header h1 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}